.DS_Store
.sass-cache
.jekyll-metadata
.DS_Store
*~
#*
.git
Makefile
Icon?
_site/
debug.log

assets/05_metaanalysis_brainmap\.md

assets/05_metaanalysis_neurosynth\.md

downloads/data/fsaverage\.zip

downloads/data/Gradients_Margulies2016/

downloads/press/wallace6nov2013_full\.pdf

images/archive_16px\.png

images/articles_16px\.png

images/brain_16px\.png

downloads/pubs/Kuehn2017\.skim

downloads/data/BrocaLabels/

downloads/people/CV_Margulies_2019Jan.pdf
workspace.code-workspace
