/**
 * Site navigation
 */
.site-nav {
    float: right;
    margin-top: 24px;
    .nav-trigger {
        display: none;
     }
    .menu-icon {
        display: none;
        background-color: transparent !important;        
    }
    .svghere {
        display: none;
    }
    .show { 
        float: left;
        padding-left: 20px;        
        &:hover {  
            .icon-subnav-arrow:after {
                content: "\f0d7";  
                margin-right: -3px;                      
            }            
            ul.nav-sublist {
                max-height: inherit;
                opacity: 1;
                background: $grey-color-light;
                z-index: 1;
                line-height: $base-line-height;                
                -webkit-box-shadow: 5px 5px 3px $grey-color; // shadow
                -moz-box-shadow: 5px 5px 3px $grey-color;
                box-shadow: 5px 5px 3px $grey-color;    
            }
        }            
    }    
    .page-link {        
        color: $text-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        font-weight: 400;        
        &.active {
            color: $red-color;            
            font-weight: 450;
        }    
    }    
    .icon-subnav-arrow:after {        
        font-family: "FontAwesome"; //font-family: 'Font Awesome 5 Free';
        content: "\f0da";        
        padding-left: 0.3em;
        white-space: nowrap;        
    }

    .nav-sublist {
        list-style-type: none;        
        max-height: 0px;
        margin: 2px -5px 0 -5px;
        padding: 5px; 
        opacity: 0;
        overflow: hidden;
        transition: opacity 300ms ease;
        position: absolute;                       
    }
    .navitem {
        text-transform: uppercase;
        font-weight: 400;
        display: block;        
        &.active {
            color: $red-color;
            font-weight: 450;
        } 
        &:hover { 
            text-decoration: none;
            color: $red-color;
            background-color: #ecbfb5;
        }     
    }


    a,span {
        font-size: 14px;    
        font-weight: 400;    
        padding: 5px; // could be removed and fixed
        margin: -5px; // could be removed and fixed
        overflow-x: hidden !important;
        color: $text-color;
        &:hover { 
            text-decoration: none;
            color: $red-color;
            background-color: #ecbfb5;
        }
        &:visited {
            color: $text-color;
        }
    }    

    @include media-query($on-palm) {          
        float: none;      
        label[for="nav-trigger"] {
           width: 36px;
           height: 36px;
           z-index: 3;
           cursor: pointer;
           top: 18px;
           right: 0px;
           position: fixed;
        }
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 15px;
            padding-right: 30px;
            text-align: center;            
            z-index: 1;
            > svg {            
                width: 20px;
                height: 20px;
                path {fill: transparent;}                
            }
        }
        input ~ .svghere {
            display: inline;
            width: 36px;
            height: 36px;
            cursor: pointer;
            top: 28px;
            right: 20px;
            position: fixed;
            z-index: 2;   
            width: 25px;
            height: 20px;         
            content: url('/images/navbar_closed.png');
            }
        input:checked ~ .svghere {        
            content: url('/images/navbar_opened.png');
            }
             // > svg {            
            //     // width: 20px;
            //     // height: 20px;
            //     path {
            //         fill: $grey-color-dark;
            //         d: path('M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z');
            //     }                
            // }

            // > svg {
            //         path {
            //             fill: $orange-color;
            //             d: path('M15.4,1.1c0.6,0.6,0.6,1.5,0,2.1L4.7,13.9c-0.6,0.6-1.5,0.6-2.1,0l0,0c-0.6-0.6-0.6-1.5,0-2.1L13.3,1.1 C13.8,0.6,14.8,0.6,15.4,1.1L15.4,1.1z M15.4,13.9c-0.6,0.6-1.5,0.6-2.1,0L2.6,3.2c-0.6-0.6-0.6-1.5,0-2.1l0,0c0.6-0.6,1.5-0.6,2.1,0l10.6,10.6 C15.9,12.3,15.9,13.3,15.4,13.9L15.4,13.9z');
            //         }                
            // }               
           
        input ~ .trigger {
            clear: both;
            display: none;
            line-height: $palm-base-line-height;
        }
        input:checked ~ .trigger {
            display: block;
            position: absolute;        
            top: $header-height + 1px;
            right: 0px; 
            width: 100%;
            height: 100%;                
            text-align: center;
            background-color: $background-color;
            position: fixed;
            z-index: 999;
            overflow-y: scroll !important;
         }
         
        .page-link {
            display: block;
            line-height: $palm-base-line-height;
            background-color: #fff;
            padding: 0;
            margin: 0;            
            background-color: $grey-color-light;
            border: 1px solid $grey-color-dark;   
            display: block;
            font-weight: 450;    
        }
        .active {            
            white-space: nowrap;
            color: $red-color;
            font-weight: 450;
            padding: 0;
            margin: 0;
        }
        .icon-subnav-arrow:after {
            font-family: "FontAwesome";
            content: "\f0d7";
            white-space: nowrap; 
        }        
        .show {             
            display: block;  
            float: none;
            padding: 0;
            margin: 0; 
            &:hover {  
                .icon-subnav-arrow:after {                    
                    margin-right: 0px;
                }                
                ul.nav-sublist {                    
                    background: transparent;
                }
            }    
        }           
        .show ul.nav-sublist {
            max-height: inherit;
            opacity: 1;
            padding: 0;
            margin: 0;            
            border-radius: 0;                         
            z-index: 3;
            line-height: $palm-base-line-height;
            -webkit-box-shadow: 0 0 0 white;
            -moz-box-shadow: 0 0 0 white;
            box-shadow: 0 0 0 white;            
            right: $nav-on-palm;
            display: block;
          }        
        .nav-sublist {
            list-style-type: none;
            padding: 0;
            margin: 0;            
            opacity: 0;
            overflow: hidden;
            transition: opacity 300ms ease;
            position: initial;
            display: block;
        }           
        .navitem {            
            line-height: $palm-base-line-height;
            display: block;
            padding: 0;
            margin: 0;
            border: 1px solid $grey-color-light;             
           }
    }
}