---
---
<small>

{% if entry.pdf %}
<a href="{{entry.pdf}}" target="_blank"><i class="fa fa-file-pdf-o"></i>&thinsp;PDF</a>
{% endif %}
{% if entry.pdf %} | {% endif %}

{% if entry.pdf_si %}
<a href="{{entry.pdf_si}}" target="_blank"><i class="fa fa-file-pdf-o"></i>&thinsp;SI</a>
{% endif %}
{% if entry.pdf_si %} | {% endif %}

{% if entry.doi %}
<a href="http://dx.doi.org/{{entry.doi}}" target="_blank"><i class="fa fa-external-link"></i>&thinsp;Link</a>
{% elsif entry.link %}
<a href="{{entry.link}}" target="_blank"><i class="fa fa-external-link"></i>&thinsp;Link</a>
{% elsif entry.url %}
<a href="{{entry.url}}" target="_blank"><i class="fa fa-external-link"></i>&thinsp;Link</a>
{% endif %}
{% if entry.doi %} |
{% elsif entry.link %} |
{% elsif entry.url %} |
{% endif %}

{% if entry.github %}
<a href="{{entry.github}}" target="_blank"><i class="fa fa-github-alt"></i>&thinsp;Code</a>
{% endif %}
{% if entry.github %} | {% endif %}

{% if entry.code %}
<a href="{{entry.code}}" target="_blank"><i class="fa fa-file-archive-o"></i>&thinsp;code.zip</a>
{% endif %}
{% if entry.code %} | {% endif %}

{% if entry.movie  %}
<a href="{{entry.movie}}" target="_blank"><i class="fa fa-film"></i>&thinsp;Video</a>
{% endif %}
{% if entry.movie %} | {% endif %}

{% if entry.award %}
<a data-toggle="collapse" href="javascript:toggleDiv('{{entry.key}}-bibtex-award')"><i class="fa fa-trophy"></i>&thinsp;Award</a>
{% endif %}
{% if entry.award %} | {% endif %}

{% if entry.spotlight %}
<a href="{{entry.spotlight}}" target="_blank"><i class="fa fa-star"></i>&thinsp;Spotlight</a>
{% endif %}
{% if entry.spotlight %} | {% endif %}

{% if entry.data %}
<a href="{{entry.data}}" target="_blank"><i class="fa fa-database"></i>&thinsp;Data</a>
{% endif %}
{% if entry.data %} | {% endif %}

<a data-toggle="collapse" href="javascript:toggleDiv('{{entry.key}}-bibtex')">Abstract</a>

<br/>
</small>

{% if entry.in_press %}
  {{ reference | replace: '2018', '<i>In press</i>' }}
  {% else %}
    {{ reference }}
  {% endif %}

{% if entry.note %}
  {{ <i>entry.note</i> }}.
{% endif %}
<small>
  <div id="{{entry.key}}-bibtex-award" style="display:none;">
    <br/>
    <p class="collapse">{{entry.award}}</p>
  </div>
  <div id="{{entry.key}}-bibtex" style="display:none;">
    <p class="collapse">{{entry.abstract}}</p>
  </div>
</small>
<br/>
